{{#get "posts" filter="featured:true" limit="20" include="tags" as |featured|}}
    {{#if featured}}
    <section class="featured-wrapper">

        <header class="featured-header topic-header">
            <h2 class="featured-title topic-name">Featured</h2>
        </header>

        <div class="featured-posts owl">
        {{#foreach featured}}
            <article class="{{post_class}}">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="{{url}}">
                        {{#if feature_image}}
                            <img class="post-image u-object-fit" src="{{img_url feature_image size="l"}}" alt="{{title}}">
                        {{/if}}
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="{{url}}">{{title}}</a>
                    </h2>
                    <div class="post-meta">
                        {{#primary_tag}}
                            {{#if feature_image}}
                                <div class="post-tag-image">
                                    <img src="{{img_url feature_image size="xs"}}" alt="{{name}}" />
                                </div>
                            {{else}}
                                <span class="post-tag tag-{{slug}}">{{name}}</span>
                            {{/if}}
                        {{/primary_tag}}
                        {{#if primary_author}}
                            <span class="post-author">
                                <a href="{{primary_author.url}}">{{primary_author.name}}</a>
                            </span>
                        {{/if}}
                        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD, YYYY"}}</time>
                    </div>
                </header>

            </article>
        {{/foreach}}
        </div>

    </section>
    {{/if}}
{{/get}}